button {
  background-color: #754EF9;
  border: none;
  border-radius: 25px;
  color: white;
  width: 202px;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
}

a {
  background-color: #754EF9;
  border: none;
  border-radius: 25px;
  color: white;
  width: 202px;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;

  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

div {
  background-color: #754EF9;
  border: none;
  border-radius: 25px;
  color: white;
  /* width: 202px; */
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  padding: 0 30px;
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;

  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}